<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Checkerboard</title>
  </head>
  <body>
    <table>
      {% for i in range(height):%}
      <tr>
        {% for x in range(width):%}
        <td class="red"></td>
        <td class="black"></td>
        {% endfor %}
      </tr>
      <tr>
        {% for x in range(width):%}
        <td class="black"></td>
        <td class="red"></td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
